body{
  background-color: $whitish;
}

::selection {
  background: $activeColor;
  color:$whitish;
}

::-moz-selection {
  background: $activeColor;
  color:$whitish;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}



img.responsive{
  width: 100%;
  height: auto;
}



.onlySmall{
  display:none;
}

a.noDecorate{
  text-decoration: none;
  color: $darkText;
}