/** IMAGES */

$mainBgImage: "/images/backgrounds/orangeSparksClose_min.jpg";
$mainBgImageMed: "/images/backgrounds/orangeSparksClose_min.jpg";
$mainBgImageSml: ""; 
$secondBgImage: "/images/backgrounds/nutsBolts_min.jpg";
$arrowImage: "/images/arrow-down.png";


/** COLORS */
$whitish: #fafafa;
$blackish: #212121;

$activeColor: #BF3F3F;
$navColor: $blackish;
$backColor: #263238;
$darkText: #212121;
$medText: #757575;
$lightText: #a4a4a4;


/** COLUMNS */
$columnHeight: 400px;

/** MARGIN */
$headerMargin: 60px;