/** small screens */
  @media (max-width: $containerWidth){
    //turn off the menu
    .menu{
      display:none;
    }
	.content{
		width:92%;
		margin: auto;
	}
    .start-page .content {
      width:90%;
      height:100%;
    }

    .start-page, .start-page .opacity{
      height:100%;
    }
    .start-page .content .text {
      width:90%;
    }

    h1{
    	font-size: 2.2rem;
    }
  }