/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);
html, body{
  font-family: 'Lato', sans-serif;
  font-size:20px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:$darkText;
  font-weight:400;
  height:100%;
}