/* Font Google - strong reaload time */

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,900);
html, body{
  font-family: $bodyFontFamily;
  font-size:20px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:$darkText;
  font-weight:400;
  height:100%;
}