/** IMAGES */

$mainBgImage: "/images/backgrounds/spiral_low.jpg";
$mainBgImageMed: "/images/backgrounds/spiral_med.jpg";
$mainBgImageSml: ; 
$secondBgImage: "/images/backgrounds/photo-1425036458755-dc303a604201.jpg";
$arrowImage: "/images/arrow-down.png";


/** COLORS */
$activeColor: #BF3F3F;
$backColor: #263238;
$darkText: #212121;
$lightText: #a4a4a4;
$whitish: #fafafa;

/** COLUMNS */
$columnHeight: 400px;